<br />
<div class="box col-10 offset-1">
  <h1>about flixter</h1>

    <p class="para">
      Flixter was built by <a target="_blank" href="https://shannakershner.netlify.com">Shanna Kershner</a>, a student at the University of Texas at Austin Coding Bootcamp.
    </p>
  </div>