@font-face {
    font-family: 'Bitstream Vera Sans';
    src: url('BitstreamVeraSans-Roman.woff2') format('woff2'),
        url('BitstreamVeraSans-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

