@import "bootstrap";

.navbar {
  font-family: 'Silkscreen';
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('hotel-wallpaper-black.png');
}

.navbar-dark a.navbar-brand {
  font-family: 'Silkscreen';
  font-size: 25px;
  font-weight: 100;
  color: white;
}

.hero {
  background: image_url('herosplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'impact_label_reversedregular';
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'impact_label_reversedregular';
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.btn {
  border-radius: 5px;
  font-family: 'impact_label_reversedregular';
  font-size: 20px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('hotel-wallpaper.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.box h2, .box h1 {
  margin: 10px;
  font-family: 'impact_labelregular';
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px
}

.clr {
  clear: both;
}

.lesson {
  background-color: black;
  border-radius: 5px;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
  font-family: 'ubuntu-titletitle';
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius: 5px;
  padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

Submit my Form

.fsSubmit {
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  background-color: #57d6c7;
  font-family: 'impact_labelregular';
  font-weight: bold;
  text-shadow: 1px 1px #57D6C7;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.regbtn {
  background-color: black;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color:  #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius: 3px;
  padding: 20px;
  margin: 20px;
}

.para {
  font-family: 'Bitstream Vera Sans';
  font-size: 18px;
}

h1 h2 h3 h4 {
  font-family: 'impact_labelregular';
}

h2 a {
  color: #009933;
}

.nav-link {
  color: #33cc33;
}

.mainpg h3 {
  font-family: 'impact_labelregular';
}

p {
  font-family: 'ubuntu-titletitle';
}

.badge {
  font-family: 'Bitstream Vera Sans';
  size: 25px;
}

.desc {
  font-family: 'ubuntu-titletitle';
  font-size: 25px;
}

.stripe-button-el {
  font-family: 'ubuntu-titletitle';
}

.sec {
  font-family: 'ubuntu-titletitle';
}